@font-face {
    font-family: 'SanFranciscoDisplayMedium';
    src: url('fonts/SanFranciscoDisplayMedium.eot');
    src: url('fonts/SanFranciscoDisplayMedium.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplayMedium.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplayMedium.woff') format('woff'),
         url('fonts/SanFranciscoDisplayMedium.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplayMedium.svg#SanFranciscoDisplayMedium') format('svg');
}
