@font-face {
    font-family: 'SanFranciscoDisplaySemibold';
    src: url('fonts/SanFranciscoDisplaySemibold.eot');
    src: url('fonts/SanFranciscoDisplaySemibold.eot') format('embedded-opentype'),
         url('fonts/SanFranciscoDisplaySemibold.woff2') format('woff2'),
         url('fonts/SanFranciscoDisplaySemibold.woff') format('woff'),
         url('fonts/SanFranciscoDisplaySemibold.ttf') format('truetype'),
         url('fonts/SanFranciscoDisplaySemibold.svg#SanFranciscoDisplaySemibold') format('svg');
}
