@font-face {
    font-family: 'SanFranciscoDisplayLight';
    src: url('../fonts/SanFranciscoDisplayLight.eot');
    src: url('../fonts/SanFranciscoDisplayLight.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplayLight.woff2') format('woff2'),
         url('../fonts/SanFranciscoDisplayLight.woff') format('woff'),
         url('../fonts/SanFranciscoDisplayLight.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplayLight.svg#SanFranciscoDisplayLight') format('svg');
}
@font-face {
    font-family: 'SanFranciscoDisplaySemibold';
    src: url('../fonts/SanFranciscoDisplaySemibold.eot');
    src: url('../fonts/SanFranciscoDisplaySemibold.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplaySemibold.woff2') format('woff2'),
         url('../fonts/SanFranciscoDisplaySemibold.woff') format('woff'),
         url('../fonts/SanFranciscoDisplaySemibold.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplaySemibold.svg#SanFranciscoDisplaySemibold') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayRegular';
    src: url('../fonts/SanFranciscoDisplayRegular.eot');
    src: url('../fonts/SanFranciscoDisplayRegular.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplayRegular.woff2') format('woff2'),
         url('../fonts/SanFranciscoDisplayRegular.woff') format('woff'),
         url('../fonts/SanFranciscoDisplayRegular.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplayRegular.svg#SanFranciscoDisplayRegular') format('svg');
}

@font-face {
    font-family: 'SanFranciscoDisplayMedium';
    src: url('../fonts/SanFranciscoDisplayMedium.eot');
    src: url('../fonts/SanFranciscoDisplayMedium.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplayMedium.woff2') format('woff2'),
         url('../fonts/SanFranciscoDisplayMedium.woff') format('woff'),
         url('../fonts/SanFranciscoDisplayMedium.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplayMedium.svg#SanFranciscoDisplayMedium') format('svg');
}